.slider-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 80px auto 0;
  height: 70vh;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
}

.slider-container img.active {
  opacity: 1; 
}
